.taskWrapper {
  display: flex;
  align-items: center;
  gap: 15%;
  width: 100%;
  margin: 5%;
  flex-wrap: nowrap;
}

#taskButtons {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.deleteButton {
  background-color: rgb(255, 76, 27);
  border-radius: 50px;
  justify-self: flex-end;
}

input {
  font-size: 10px;
}


.isEditing {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 80%;
}

#editInput {
  justify-self: stretch;
}