.wrapper {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 100%;
  border: 1px solid #000000;
  margin: 5%;
  flex-wrap: nowrap;
}

#deleteButton {
  background-color: rgb(255, 76, 27);
  border-radius: 35%;
  justify-self: flex-end;
}

#switchDoneUndone {
  width: 35px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid;
  
}

#isDone {
  width: 35px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid;
  background-color: fuchsia;
}