.wrapper {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  margin: 5%;

  flex-wrap: nowrap;
}

.wrapper:hover {
  background-color: rgba(0, 0, 0, 0.101);

}

#deleteButton {
  background-color: rgb(255, 76, 27);
  border-radius: 50px;
  justify-self: flex-end;
}

#switchDoneUndone {
  min-width: 20px;
  height: 20px;
  border-radius: 30px;
  border: 2px solid;
}

input[type="checkbox"] {
  width: 3em;
  height: 3rem;
  accent-color: rgb(214, 126, 255);
  font-size: 4px;
}