@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

button {
  font-family: "Victor Mono";
  font-size: 15px;
}

button:hover {
  background-color: rgb(202, 162, 255);
}
