@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

#addTask {
  background-color: rgb(255, 255, 0);
  border: 0;
  font-size: 20px;
}

#addTask:hover {
  background-color: rgb(215, 145, 255);
}
