@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.newTaskContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
  margin-top: 50px
}

input {
  border-radius: 5px;
  width: 100%;
  height: 2em;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(232, 217, 217, 0.982);
  justify-content: flex-start;
}

.createTaskButton {
  width: 2em;
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
  border-radius: 3em;
  position: fixed;
  top: 0%;

}

.createTaskButton:hover {
  background-color: rgb(255, 255, 0);
}

#submitTask {
  background-color: rgb(255, 231, 231);
  border-radius: 10px;
  font-size: 10px;
  width: 30px;
}

#submitTask:hover {
  background-color: rgb(255, 255, 0);
}