@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  background-color: #e8dac3;
  background-size: 35%;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px dotted #000000;
  outline: 1px dotted #000000;
  outline-offset: 5px;
  margin: 10%;
}

h1 {
  font-family:
    Abril Fatface,
    serif;
}
h3 {
  font-family:
    Chivo Mono,
    monospace;
  font-weight: 250;
}
p {
  font-family:
    Chivo Mono,
    monospace;
  font-size: 16px;
  font-weight: 150;
}

.background {
  background-image: url("./picthai-free-vector60-5-01.jpg");
}
