@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.taskListContainer {
  flex-direction: column-reverse;
  width: 70%;
  margin: auto;
}

p #text {
  font-family:
    Abril Fatface,
    monospace;
  font-size: 10px;
  font-weight: 50;
}

p #date {
  font-family: Abril Fatface;
  font-size: 10px;
}